.body{
    position: fixed;
    top: 0;
    left: 0;
}
.menu{
    position: fixed;
    display: block;
    width: 900px;
    height: 900px;
    left: 20px;
    top: 100px;
    transition-duration: 500ms;
}
.menu *{
    transition-duration: 500ms;
}
.center{
    width: 140px;
    height: 140px;
    margin-left: -70px;
    margin-top: -70px;
    border-radius: 50%;
    position: absolute;
    left: 40px;
    top: 60px;
    background-color: black;
    box-shadow: inset 0px 4px 40px 1px rgba(214,214,214,1);
}
.center a{
    display: block;
    width:140px;
    height:140px;
}
#MenuOpen:target .close{
    display: inherit;
}
#MenuOpen:target .open{
    display: none;
}
#MenuOpen:target .menu{
    top: 200px;
}
.around{
    width: 0;
    height: 0;
    margin-left: 0;
    margin-top: 0;
    left: 40px;
    top: 60px;
    border-radius: 50%;
    position: absolute;
    background-color: black;
    box-shadow: inset 0px 4px 40px 1px rgba(214,214,214,1),
        0px 4px 10px 1px rgba(0,0,0,1);
}
#MenuOpen:target .around{
    width: 900px;
    height: 900px;
    margin-left: -450px;
    margin-top: -450px;
}
.inter{
    width: 0;
    height: 0;
    margin-left: 0;
    margin-top: 0;
    border-radius: 50%;
    position: absolute;
    left: 40px;
    top: 60px;
    background-color: white;
    box-shadow: inset 0px 4px 10px 1px rgba(0,0,0,1);
}
#MenuOpen:target .inter{
    width: 860px;
    height: 860px;
    margin-left: -430px;
    margin-top: -430px;
}
.blade{
    width: 425px;
    height: 70px;
    margin-top: -35px;
    position: absolute;
    left: 40px;
    top: 60px;
    background-color: white;
    border-bottom-right-radius: 60%;
    border-top-right-radius: 10%;
    box-shadow: inset 0px 0px 60px 10px rgba(255,0,0,1);
    transform-origin: left center;
    overflow: hidden;
    transform: rotate(-180deg); 
    transition-delay: 200ms;
}
.blade a{
    display: block;
    text-align: center;
    line-height: 70px;
    font-size: 25px;
    border-bottom-right-radius: 60%;
    border-top-right-radius: 10%;
}
.blade a:hover{
    box-shadow: inset 0px 0px 60px 10px rgba(255,0,0,1);
}
#MenuOpen:target .blade1{
    transform: rotate(0deg);
}
#MenuOpen:target .blade2{
    transform: rotate(36deg); 
}
#MenuOpen:target .blade3{
    transform: rotate(72deg);
}
#MenuOpen:target .blade4{
    transform: rotate(108deg); 
}
#MenuOpen:target .blade5{
    transform: rotate(144deg);
}
#MenuOpen:target .blade6{
    transform: rotate(180deg); 
}
#MenuOpen:target .blade7{
    transform: rotate(216deg); 
}
#MenuOpen:target .blade8{
    transform: rotate(252deg); 
}
#MenuOpen:target .blade9{
    transform: rotate(288deg);
}
#MenuOpen:target .blade10{
    transform: rotate(324deg); 
}
